@import "../vars.scss";

.budget-manager-board {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/10.png");
  background-size: cover;
  color: #fff;
  text-align: center;

  &__title {
    font-size: 2.5em;
    margin-top: 1%;
    font-family: "Kaushan Script", Helvetica, sans-serif;
  }

  &__manager-wrap {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-areas: "t m a";
    margin-top: 3%;
  }

  .today-statistic {
    grid-area: t;
    &::-webkit-scrollbar {
      width: 1px;
    }
  }
  .all-statistic {
    grid-area: a;
    &::-webkit-scrollbar {
      width: 1px;
    }
  }

  &__statistic-board {
    background-color: rgba(0, 0, 0, 0.2);
    height: 60vh;
    margin: 5%;
    padding: 2%;
    overflow-y: auto;
  }
}
.statistic-board {
  &__title {
    font-size: 1.5em;
    margin-top: 5%;
  }
  &__list {
    list-style: none;
    margin-top: 5%;
    line-height: 2;
  }
  &__empty-message {
    height: 80%;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.7;
  }
}

.manipulating-board {
  &__add-btn {
    margin-top: 4%;
  }
  &__title {
    font-family: "Kaushan Script", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 8%;
  }
}
.toast {
  background-color: #26a69a !important;
}

.modal {
  background-color: #546e7aec !important;
  color: #fff !important;
  overflow-y: visible;
  .modal-content {
    text-align: center;
    h4 {
      font-family: "Kaushan Script", Helvetica, sans-serif;
      font-size: 2em;
      margin-top: 5%;
    }
    .row {
      margin-top: 6em;
    }
  }
  .modal-footer {
    background-color: #546e7aec;
    button {
      color: #e7a148;
      &:hover {
        background-color: #e7a148;
        color: #fff;
      }
    }
  }
}
.modal-triggers {
  display: grid;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 800px) {
  .budget-manager-board__manager-wrap {
    grid-template-areas:
      "m"
      "t"
      "a";
    grid-template-columns: 1fr;
  }
  .budget-manager-board {
    height: 100%;
  }
  .modal-triggers {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .modal-triggers *::before {
    -webkit-animation: none !important;
    animation: none !important;
  }
  body {
    overflow: visible;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .modal {
    width: 100%;
    top: 0% !important;
    min-height: 90%;
  }
  .picker--opened .picker__holder {
    top: 5%;
  }
}
