@import "../vars.scss";

.wrapper {
  background-image: url("../../assets/10.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;

  .week-manager-board {
    color: #fff;
    text-align: center;

    &__title {
      font-size: 2.5em;
      margin-top: 1%;
      font-family: "Kaushan Script", Helvetica, sans-serif;
    }

    &__days-section {
      padding: 2% 1%;
      margin: 3% 1%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 5px;
      background: rgba(0, 0, 0, 0.2);
    }

    .card .card-content {
      padding: 24px 3% 0 3% !important;
    }

    .task {
      width: 100%;
      padding-top: 0.7%;
      margin: 2% 0 2% 0;
      border: 1px solid #fff;
      text-align: left;
      background-color: lighten(#546e7a, 10%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      position: relative;
      transition: 0.3s;

      .col {
        margin-top: 1%;
        margin-left: 3%;

        [type="checkbox"].filled-in:not(:checked)+label:after {
          border: 1px solid #fff;
        }
      }

      i {
        cursor: pointer;
        color: #e7a148;
        margin-left: 0;
        width: 50%;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      .delete-i {
        color: rgb(238, 64, 64);
      }

      .submit-i {
        color: #26a69a !important;
        right: 20%;
        float: right;
        position: relative;
        opacity: 1;
      }

      &:hover {
        background-color: #546e7a;
      }

      .task__description {
        width: 70%;
      }

      .task__actions {
        width: 15%;
      }
    }

    .input {
      background: #fff;
      border-radius: 3px;
      border: 1px solid #d6dadc;
      border-bottom-color: #c4c9cc;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      margin: 3px 4px 4px 7px;
      overflow: hidden;
      height: 15px;
      width: 15px;
      transition: 0.3s;
    }

    .edit-input {
      height: 100%;
      margin-top: 10%;
      margin-left: 23%;
    }

    .done-descr {
      opacity: 0.7;
      text-decoration: line-through;
    }

    .days-section__day {
      height: fit-content;
      position: relative;

      .clear-i {
        position: absolute;
        top: 2%;
        right: 2%;
        cursor: pointer;
        color: rgb(238, 64, 64);
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      .card-action {
        opacity: 0.8;

        i {
          vertical-align: bottom;
          margin-right: 3%;
        }
      }
    }
  }
}