.navbar {
  background-color: rgb(238, 64, 64);
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000;
  &__logo {
    font-family: "Kaushan Script", Helvetica, sans-serif;
    font-size: 1.7em;
    // margin: 0;
    color: rgb(255, 255, 255);
  }
}
