@import "../vars.scss";

.navbar {
  background-color: $primaryColor;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
  &__logo {
    font-family: "Kaushan Script", Helvetica, sans-serif;
    font-size: 1.7em;
    // margin: 0;
    color: rgb(255, 255, 255);
  }
  * {
    text-decoration: none;
  }
}
